@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#image-container {
    display: flex;
}

img {
    width: 100%;
}

.title {
    font-size: 48px;
    font-weight: 500;
}

.slug {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
}

.info {
    color: rgb(255, 225, 0);
}

header {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 10px;
    padding: 4px;
}

header > button {
    font-size: 16px;
    font-family: 'Playfair Display';
    background-color: black;
    color: white;
    outline: white;
    border: 1px solid white;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Playfair Display';
    color: white;
}

body {
    background-color: black;
}

