@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#container {
    background-color: pink;
    width: fill;
    height: 100vh;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content;
    padding: 16px;
    gap: 16px;
}

#container>div {
    border: solid 1px;
    border-color: white;
    border-radius: 8px;
    padding: 8px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    color: rgb(255, 250, 250);
    font-family: Inconsolata;
}

#container>form {
    border: solid 1px;
    border-color: white;
    border-radius: 8px;
    padding: 8px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: rgb(255, 250, 250);
    font-family: Inconsolata;
}

form>#title {
    font-size: 32px;
    font-weight: 500;
    font-family: 'Playfair Display';
    color: rgb(255, 121, 144);
}

form>#description {
    font-size: 18px;
    text-align: left;
}

form>* {
    display: flex;
    gap: 10px;
    align-items: center;
}

form>div>input, form > div > select {
    border-width: 0px;
    font-family: Inconsolata;
}

#submit-button {
    display: flex;
    justify-content: center;
    background-color: white;
    outline: 0;
    border: 0;
    font-family: Inconsolata;
    color: rgb(255, 121, 144);
    border-radius: 4px;
    font-size: 16px;
    align-items: center;
    padding: 4px;
}

form>title>input {
    display: inline-flex;
}

.task {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.delete-button {
    display: flex;
    justify-content: center;
    background-color: white;
    outline: 0;
    border: 0;
    font-family: Inconsolata;
    color: rgb(255, 121, 144);
    border-radius: 4px;
    font-size: 16px;
    align-items: center;
    padding: 4px;
}

.info-div {
    display: flex;
    justify-content: space-between;
}

.priority {
    border: solid white 1px;
    width: fit-content;
    padding: 4px;
    border-radius: 4px;
}

.title {
    font-size: 32px;
    font-weight: 500;
    font-family: 'Playfair Display';
    color: rgb(255, 121, 144);
}

.subtitle {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    font-family: 'Playfair Display';
}

#header {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px;
    padding: 4px;
    color: rgb(255, 121, 144);
    margin: 0px;
}

#header-buttons>* {
    font-size: 16px;
    font-family: 'Playfair Display';
    background-color: rgb(255, 230, 230);
    color: rgb(255, 121, 144);
    outline: white;
    border: 1px solid white;
    min-width: 80px;
    height: 40px;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.title-container {
    display: flex;
    flex-direction: column;
}

form {
    height: 100px;
}